<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TYIT_29_Prac1"
        tools:targetApi="31">
        <activity
            android:name=".Prac11.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Prac10.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".Prac10.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".Prac6_7_8_9.ReceiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".Prac6_7_8_9.EnterDataActivity"
            android:exported="false" />
        <activity
            android:name=".Prac3LifeCycle.ActivityAndFragmentsLifeCycle"
            android:exported="false" />
        <activity
            android:name=".Prac4Activity$ActivityAndFragmentLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4.GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4.TableLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4.FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4.AbsoluteLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4.LinearLayout"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".Prac4Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TYIT_29_Prac1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>